body {
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.img-logo-main {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.welcome {
  font-size: 29px;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.log {
  color: #444150;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.log-in {
  color: #01bab3;
  text-decoration: underline;
}
.content {
  width: 500px;
  height: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
section ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding-top: 50px;
}
.input-box input {
  width: 300px;
  height: 40px;
}
.input-box input::placeholder {
  padding-left: 10px;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-box input:focus {
  outline: none;
  border-color: #00a5cf;
  box-shadow: 0 0 5px rgba(0, 165, 207, 0.5);
}
.number-small {
  border: 1px solid black;
  text-align: center;
}
.input-box span {
  width: 40px;
}
.input-number {
  display: inline;
}
.text-input {
  width: 20px;
}
.container {
  width: 100%;
}
.text-box {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 20px;
}

.text-box div label {
  display: block;
}
.country-input {
  width: 140px;
  height: 40px;
}
.text-box input:focus {
  outline: none;
  border-color: #00a5cf;
  box-shadow: 0 0 5px rgba(0, 165, 207, 0.5);
}
.country-input::placeholder {
  padding-left: 10px;
}
.input-box {
  position: relative;
}
.input-box img {
  position: absolute;
  right: 0;
  padding-top: 7px;
}
.password-box {
  padding-top: 20px;
}
.btn {
    width: 300px;
    height: 40px;
    background-color: #01bab3;
    border: none;
    color: white;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
  }
  .button-box{
     padding-top: 20px;
  }
  .button-box img {
    position: absolute;
    padding-top: 7px;

  }
  .btn:focus {
    width: 300px;
    height: 40px;
    background-color: #08fcf4;
    border: none;
    color: white;
    border-radius: 5px;
    position: relative;
  }
  