* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
body {
  width: 100%;
  background-color: #f4f8fa;
}
a {
  text-decoration: none;
  color: black;
}
.load {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  background-color: white;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.3s linear;
}

.load-none {
  opacity: 0;
} 